In [2]:
import pandas as pd

## 1 Series andthen double the value in series and store inanother series named Series2

In [13]:
s1 = pd.Series([100, 200, 300, 400, 500],index=['A','B','C','D','E'])
print("Values of S1:\n",s1)
s2 = (2 * s1)
print("Values of S2:\n", s2)

Values of S1:
 A    100
B    200
C    300
D    400
E    500
dtype: int64
Values of S2:
 A     200
B     400
C     600
D     800
E    1000
dtype: int64

## 2 Write a program in Python Pandas to create the series and display it.

In [17]:
s1=pd.Series(700,index=[200,201,202,203,204])
print("Values of S1:\n",s1)

Values of S1:
 200    700
201    700
202    700
203    700
204    700
dtype: int64

## 4 Write the Python syntax which will display only IP.Write the Python syntax to increase marks of all subjects by 10.

In [24]:
s1=pd.Series([95,89,92,95],index=["IP","PHYSICS","CHEMISTRY","MATH"])
print(s1)
print("IP Value:\n",s1["IP"])
print("Increased Marks 10:\n",s1+10)

IP           95
PHYSICS      89
CHEMISTRY    92
MATH         95
dtype: int64
IP Value:
 95
Increased Marks 10:
 IP           105
PHYSICS       99
CHEMISTRY    102
MATH         105
dtype: int64

In [27]:
s1=pd.Series([50000,65890,56780,89000,77900],index=["QTR1","QTR2","QTR3","QTR4","QTR5"])
display(s1)

QTR1    50000
QTR2    65890
QTR3    56780
QTR4    89000
QTR5    77900
dtype: int64

## 6 What will be the output produced by the following programming statements 1 & 2?

In [33]:
S1=pd.Series(data=[31,41,51])
print("Statement S1:\n",S1>40)
print("Statement S2:\n",S1[S1>40])

Statement S1:
 0    False
1     True
2     True
dtype: bool
Statement S2:
 1    41
2    51
dtype: int64

## 7 Find the output for following python pandas statements?

In [37]:
s1=pd.Series([39,41,42,44],index=["A","B","C","D"])
s2=pd.Series([10,10,10,10],index=["A","B","C","D"])
print("VAlues Of A:\n",s1[:2]*100)
print("VAlues Of B:\n",s1*s2)
print("VAlues Of C:\n",s2[::-1]*10)

VAlues Of A:
 A    3900
B    4100
dtype: int64
VAlues Of B:
 A    390
B    410
C    420
D    440
dtype: int64
VAlues Of C:
 D    100
C    100
B    100
A    100
dtype: int64

## 8 Write the command to find the multiplication of series S1 and S2

In [38]:
s1=pd.Series([10,20,30,40],index=["A","B","C","D"])
s2=pd.Series([5,4,6,8],index=["A","B","C","D"])
print("Multiplication of S1 * S2:\n",s1*s2)

Multiplication of S1 * S2:
 A     50
B     80
C    180
D    320
dtype: int64

## 9 Write a program in Python Pandas to create this series

In [39]:
s1=pd.Series([75,78,82,86],index=["ENGLISH","HINDI","MATHS","SCIENCE"])
print("Subjects With Marks:\n",s1)

Subjects With Marks:
 ENGLISH    75
HINDI      78
MATHS      82
SCIENCE    86
dtype: int64

## 10 Consider the following Series object, “company” and its profit in Crores

In [49]:
s1=pd.Series([350,200,800,150],index=["TCS","RELIANCE","L&T","WIPRO"])
print("Complete table:\n",s1)
print("Profit>250:\n",s1[s1>250])
s1.name = "Profit"
print("Changed name to Profit:\n",s1.name)

Complete table:
 TCS         350
RELIANCE    200
L&T         800
WIPRO       150
dtype: int64
Profit>250:
 TCS    350
L&T    800
dtype: int64
Changed name to Profit:
 Profit

## 11 Consider two objects a and b.a is a list whereas b is a Series. Both have values 10,20,25,50.

In [50]:
a=[10,20,25,50]
print("Values Of A:",a*2)
b=pd.Series([10,20,25,30])
print("Values Of B:\n",b*2)

Values Of A: [10, 20, 25, 50, 10, 20, 25, 50]
Values Of B:
 0    20
1    40
2    50
3    60
dtype: int64

## 12 Given a Pandas series called Sample, thecommand which will display the last 3 rowsis.
print(Sample.tail(3))--------Correct Syntax
print(Sample.Tail(3))
print(Sample.tails(3))
print(Sample.Tails(3))

## 13 What will be the output of the followingcode?

In [51]:
s = pd.Series(6,index=range(0,5))
print(s)

0    6
1    6
2    6
3    6
4    6
dtype: int64

## 14 If series s1 is having following data,

In [52]:
s1 = pd.Series([6, 1, 3, 5, 4, 8, 7, 4, 6, 7],index=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19])
print("Original Series:\n", s1)
print("\nResult of s1[3:6]:\n",s1[3:6])

Original Series:
 1     6
3     1
5     3
7     5
9     4
11    8
13    7
15    4
17    6
19    7
dtype: int64

Result of s1[3:6]:
 7     5
9     4
11    8
dtype: int64

## 15 What will be the output of the following code?

In [53]:
import pandas as pd
import numpy as np
s = pd.Series(np.arange(10,50,10))
print("Values Of S:\n",s)
print ("Dimension:\n",s.ndim)
print("Shape of S:\n",s.shape)
print("Length of S:\n",len(s))

Values Of S:
 0    10
1    20
2    30
3    40
dtype: int64
Dimension:
 1
Shape of S:
 (4,)
Length of S:
 4

## 16 Write a program to create a Series having 10 random numbers in the range of 10 and 20

In [56]:
s1 = np.random.randint(10, 20, size=10)
print("Random Marks:\n",s1)
s2 = pd.Series(s1)
print("Series random numbers:\n",s2)

Random Marks:
 [13 13 13 12 16 12 16 19 12 11]
Series random numbers:
 0    13
1    13
2    13
3    12
4    16
5    12
6    16
7    19
8    12
9    11
dtype: int32

## 17 Consider the following Series ‘s’-

In [59]:
import numpy as np

s1 = pd.Series([4.0, 5.0, 7.0, np.nan, 1.0, 10.0], index=[1, 2, 3, 4, 5, 6])
print(s1)
print("Adding 1 to S1:\n", s1 + 1)
s = s1.fillna(0)
print("After filling NaN with 0:\n", s)

1     4.0
2     5.0
3     7.0
4     NaN
5     1.0
6    10.0
dtype: float64
Adding 1 to S1:
 1     5.0
2     6.0
3     8.0
4     NaN
5     2.0
6    11.0
dtype: float64
After filling NaN with 0:
 1     4.0
2     5.0
3     7.0
4     0.0
5     1.0
6    10.0
dtype: float64

## 18 Predict the output of the following code.

In [60]:
import pandas as pd
import numpy as np
data = {'one':'a','two':'b','three':'c'}
s=pd.Series(data)
print(s)
print(s.size)

one      a
two      b
three    c
dtype: object
3

## 19 Create a Series object S1 using a python sequence [2,4,6,8] and default indices.

In [62]:
s1=pd.Series(np.arange(2,9,2))
s1

0    2
1    4
2    6
3    8
dtype: int64

## 20

In [63]:
s2=pd.Series(["i","am", "a","student"])
print(s2)

0          i
1         am
2          a
3    student
dtype: object

In [64]:
s1=pd.Series(200,index=range(2,13,2))
print(s1)

2     200
4     200
6     200
8     200
10    200
12    200
dtype: int64

In [65]:
s1=pd.Series(range(2,11,2), index=[x for x in"abcde"]) 
print(s1)

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [66]:
x=np.arange(10,15) 
s3=pd.Series(index=x, data=x*2) 
s4=pd.Series(x**2,x) 
print(s3)
print(s4)

10    20
11    22
12    24
13    26
14    28
dtype: int64
10    100
11    121
12    144
13    169
14    196
dtype: int64

In [70]:
s1 = pd.Series([8900,8700,7800,6500,np.nan], index=["A","B","C","D","E"])
s1 = s1.fillna(0)
result = s1 * 2
print(result)

A    17800.0
B    17400.0
C    15600.0
D    13000.0
E        0.0
dtype: float64

In [71]:
val1=np.arange(5.25,50,10.25)
ser1=pd.Series(val1,index=['a','b','a','a','b'])
print(ser1)
print(ser1['a'])
print(ser1['b'])

a     5.25
b    15.50
a    25.75
a    36.00
b    46.25
dtype: float64
a     5.25
a    25.75
a    36.00
dtype: float64
b    15.50
b    46.25
dtype: float64

In [79]:
s1 = pd.Series([39, 31, 32, 34, 35], index=['A', 'B', 'C', 'D', 'E'])
print(s1)
sa = s1['A'] * 100
print("sa =", sa)
sb = s1["B"] * 100
print("sb =", sb)
print(sa + sb)

A    39
B    31
C    32
D    34
E    35
dtype: int64
sa = 3900
sb = 3100
7000

In [86]:
S4 = [2.50, 17.45, 20.25, 87.25, 33.76]

S4[0] = 1.75
S4[2:4] = [-23.74, -23.74]
print(S4)

[1.75, 17.45, -23.74, -23.74, 33.76]

In [83]:
s1=pd.Series([2,3,4,5,6],index=['a','b','c','d','e'])
s1[1:5:2]=345.6
s1[2:4]= -14.65
print(s1)

a      2.00
b    345.60
c    -14.65
d    -14.65
e      6.00
dtype: float64

C:\Users\murali.g.ARTECHSOLUTION\AppData\Local\Temp\ipykernel_18932\1829626448.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '345.6' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s1[1:5:2]=345.6

In [85]:
s12 = pd.Series([6700, 8000, 5400, 3400], index=['A', 'B', 'C', 'D'])
s12["A"] = 8800
s12["C"] = 7700
s12["D"] = 7700
print(s12)

A    8800
B    8000
C    7700
D    7700
dtype: int64

s1=s1.head(100)----first 100
s1=s1.tail(5)----last 5

In [87]:
s3=pd.Series([1.5, 3.0, 4.5, 6.0, 7.5],index = ['a', 'b', 'c', 'd', 'e'])
print(s3+3)
print(s3*2)
print(s3>3.0)
print(s3[s3>3.0])

a     4.5
b     6.0
c     7.5
d     9.0
e    10.5
dtype: float64
a     3.0
b     6.0
c     9.0
d    12.0
e    15.0
dtype: float64
a    False
b    False
c     True
d     True
e     True
dtype: bool
c    4.5
d    6.0
e    7.5
dtype: float64

In [88]:
s12=pd.Series([6700,8000, 5400, 3400])
s12.name="Contribution"
s12

0    6700
1    8000
2    5400
3    3400
Name: Contribution, dtype: int64

In [ ]:
S1 = pd.Series([10, 20, 30, 40, 50])
S2 = pd.Series([5, 10, 15, 20, 25, 30, 35])
S3 = pd.Series([3, 6, 9, 10, 11], index=['a', 'b', 'c', 'd', 'e'])
print(S1+S2)
print(S1*S3)
print(S1-S2)

0    15.0
1    30.0
2    45.0
3    60.0
4    75.0
5     NaN
6     NaN
dtype: float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
dtype: float64
0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
5     NaN
6     NaN
dtype: float64

In [94]:
S1 = pd.Series([6700,8000,5400,3400],index=["D","A","B","C"])
print(sorted(S1,reverse=True))
print(S1.sort_index())

[8000, 6700, 5400, 3400]
A    8000
B    5400
C    3400
D    6700
dtype: int64

In [ ]:
s13=pd.Series([6700,8000,5400,3400], index=['A', 'B', 'C', 'D'])
s13.index=range(0,4) 
print(s13)
##in range we are giving 0,5 so that their and while we runnong the problem we will get new 5th element that why it throwing error

0    6700
1    8000
2    5400
3    3400
dtype: int64

In [98]:
first=[7,8,9]
second=pd.Series(first)
s1=pd.Series(data=first*2)
s2=pd.Series(data=second*2)
print("Series1:")
print(s1)
print("Series2:")
print(s2)

Series1:
0    7
1    8
2    9
3    7
4    8
5    9
dtype: int64
Series2:
0    14
1    16
2    18
dtype: int64

In [99]:
data=np.array(['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])
s=pd.Series(data)
print(s[:4])
print(s[-4:])

0    Mon
1    Tue
2    Wed
3    Thu
dtype: object
3    Thu
4    Fri
5    Sat
6    Sun
dtype: object

In [100]:
data=np.array(['Mon','Tue','Wed','Thu','Fri','Sat','Sun'])
s=pd.Series(data, index=[101,102,103,104,105,
106,107])
print(s[[103,105,107]])

103    Wed
105    Fri
107    Sun
dtype: object

In [101]:
D={'a':10,'b':11,'c':12}
S=pd.Series(D,index=['b','c','d','a'])
print(S)

b    11.0
c    12.0
d     NaN
a    10.0
dtype: float64